<h1>Please Enter Your Informations</h1>
<p class="text-danger" ng-show="registerError">{{ registerError }}</p>
<form ng-submit="register()">
  <input type="text" class="form-control" ng-model="registerUsername" placeholder="Username">
  <input type="password" class="form-control" ng-model="registerPassword" placeholder="Password">
  <input type="submit" class="btn btn-default" ng-click="login(registerUsername,registerPassword)" value="Submit">

</form>
