<h3>{{category.cat_name}}</h3>

<h4>Posts List</h4>

<div class="col-xs-12 col-md-12">
<table class="table table-condensed table-responsive table-striped">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Post Text
			</th>
			<th>
				Like
			</th>
			<th>
				Post Like
			</th>
			<th>
				Post Date
			</th>
			<th>
				User and User Comment
			</th>
			<th>Comment</th>
			<th ng-if="loginT">
				Post Update
			</th>
			<th ng-if="loginT">
				Post Delete
			</th>
			
			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="post in category.topics_set">
			<td>
				{{post.id}} 
			</td>
			<td>
				{{post.topic_subject}}
			</td>
			<td>
				<button type="submit" class="btn btn-success" 
    			ng-click="saveLike(post.id)">Like</button>
			</td>
			<td>
				{{post.like}}
			</td>
			<td>
				{{post.topic_date}}
			</td>
			<td>
				<div ng-repeat="c in post.comment_set"> {{c.comment}} :   {{       c.user.username}}</div>
				
			</td>
			<td ng-if="loginT"><form>
   			 <div class="form-group" >
		        <label for="Comments">Comment add</label>
		        <input type="text" class="form-control " id="commentss" placeholder="Commentss" ng-model="comment.comment">
		        
    		</div>
   
    		<button type="submit" class="btn btn-success" ng-click="commentAdd(post.id)">Submit</button></form>
    </td>

			<td ng-if="loginT"> <a href="#/topicUpdate/{{post.id}}">Update</a></td>
			<td ng-if="loginT"> <button class="btn btn-danger"  ng-click="deletePost(post.id)"> Delete </button> </td>
			
			

		
			

			
	</tbody>
</table>
<div ng-if="loginT"><h3><a href="#/postsAdd/{{category.id}}">Create post</h3></div>
				

</div>



