<h4>Categories List</h4>

<div class="col-xs-12 col-md-12 " >

<table class="table table-condensed table-responsive table-striped ">
	<thead>
		<tr>
			
			<th>
				
			</th>
			<th >
				Categories Description
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="category in categories">
			
			<td>
				<h3><a href="#/categoryDetay/{{category.id}}" ng-click="getID(category.id)">{{category.cat_name}} </a></h3>
				
				
			</td>
			<td>
				{{category.cat_description}}
			</td>
			<td ng-if="loginT"><a href="#/categoryUpdate/{{category.id}}" ng-click="getID(category.id)">Update</a></td>
			<td ng-if="loginT"><button class="btn btn-danger" ng-click="deleteCategory(category.id)">Delete</button></td>
	</tbody>
</table>

</div>