<h3>Add Categories</h3>
<h3 ng-if="!loginT">You must be Loggin !! </h3>
<form ng-if="loginT">
    <div class="form-group" >
        <label for="categories">Categories Text</label>
        <input type="text" class="form-control" id="Category" placeholder="Category" ng-model="category.cat_name">
        <label for="categories">Categories Description</label>
        <input type="text" class="form-control" id="Category" placeholder="Category Description" ng-model="category.cat_description">

    </div>
    <button type="submit" class="btn btn-default" 
    ng-click="saveCategory()">Submit</button>
</form>