<h3>Update Category</h3>
<h3 ng-if="!loginT">You can not Update</h3>
<form ng-if="loginT">
    <div class="form-group" >
        <label for="category">Categories Text</label>
        <input type="text" class="form-control" id="category" placeholder="Categories" ng-model="category.cat_name">
        <label for="category">Categories Description</label>
        <input type="text" class="form-control" id="category" placeholder="Category" ng-model="category.cat_description">

    </div>
   
    <button type="submit" class="btn btn-default" ng-click="updateCat()">Submit</button>
    
</form>
