<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Egemsoft</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li role="presentation"><a href="#/home">Home</a></li>
        <li role="presentation" class="active"><a href="#/categories">Categories</a></li>
        <li  ng-if="loginT" role="presentation"><a href="#/categories/add/">Add Categories</a></li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
       <li ng-if="!loginT" ><a href="#/login">Login</a></li>
        <li ng-if="loginT" > {{username}}</li>
        <li ng-if="loginT" ><a href="#/logout/">Logout</a></li>
        <li ng-if="!loginT"><a href="#/register/">Register</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>