<h3>Add Post</h3>
{{test}}
<form>
    <div class="form-group" >
        <label for="post">Post</label>
        <input type="text" class="form-control" id="Post" placeholder="Post" ng-model="post.topic_subject">
       

    </div>
    <button type="submit" class="btn btn-default" ng-click="savePost()">Submit</button>
</form>