<h4>Posts List</h4>

<div class="col-xs-12 col-md-12">
<table class="table table-condensed table-responsive table-striped">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Post Text
			</th>
			<th>
				Post Like
			</th>
			<th>
				Post Date
			</th>
			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="post in posts">
			<td>
				{{post.id}} 
			</td>
			<td>
				{{post.topic_subject}}
			</td>
			<td>
				{{post.like}}
			</td>
			<td>
				{{post.topic_date}}
			</td>

		
			

			
	</tbody>
</table>

				

</div>

