<h3>Register</h3>

<form ng-submit="saveUser()">
    <div class="form-group" >
    	<label for="users">Name</label>
        <input type="text" required class="form-control" id="User" placeholder="FirstName" ng-model="user.first_name">
        <label for="users">Surname</label>
        <input type="text" required="required" class="form-control" id="User" placeholder="Surname " ng-model="user.last_name">
        <label for="users">User Info</label>
        <input type="text" required="required" class="form-control" id="User" placeholder="User" ng-model="user.username">
        <label for="Email">E-Mail</label>
        <input type="mail" required="required" class="form-control" id="E mail" placeholder="ornek@mail.com" ng-model="user.email">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        <label for="password">Password</label>
        <input type="password" required="required" class="form-control" id="inputError" placeholder="Password" ng-model="user.password">



    </div>
    <button type="submit" class="btn btn-default" 
    >Submit</button>
</form>