<h3>Update Post</h3>

<form>
    <div class="form-group" >
        <label for="post">Post Text</label>
        <input type="text" class="form-control" id="post" placeholder="Posts" ng-model="post.topic_subject">
        

    </div>
   
    <button type="submit" class="btn btn-default" ng-click="updateTop()">Submit</button>
    
</form>